{
    email letsencrypt@taire.de
}

taire.de {
    header Strict-Transport-Security "max-age=31536000;"
    reverse_proxy /_matrix/* synapse_synapse:8008
    file_server
    root * /www/taire.de
}

cloud.taire.de {
    header Strict-Transport-Security "max-age=31536000;"
    reverse_proxy cloud_nextcloud:80

    # client support (e.g. os x calendar / contacts)
    redir /.well-known/carddav /remote.php/carddav 301
    redir /.well-known/caldav /remote.php/caldav 301
}

blog.taire.de {
    header Strict-Transport-Security "max-age=31536000;"
    file_server
    root * /www/blog.taire.de
}

shop.taire.de {
    header Strict-Transport-Security "max-age=31536000;"
    file_server
    root * /www/blog.taire.de

}